#queue {
	width: 500px;
}

.ui-uploader {
	background-color: #F5F5F5;
	border: 2px solid #E5E5E5;
	font: 11px Verdana, Geneva, sans-serif;
	margin-top: 5px;
	padding: 10px;
	width: 350px;
}

.ui-uploader-progress {
	background-color: #E5E5E5;
	margin-top: 10px;
	width: 100%;
}
.ui-uploader-progressbar {
	background-color: #0099FF;
	height: 3px;
	width: 1px;
}

.ui-uploader .ui-uploader-cancel {
	float: right;
}

.ui-uploader-completed {
	background-color: #E5E5E5;
}

.ui-uploader-error {
	background-color: #FDE5DD;
	border: 2px solid #FBCBBC;	
}

.ui-uploader-errorinfo {
	background-color: #FDE5DD;
}